{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Thay đổi mật khẩu</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'change_password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Mật khẩu hiện tại</label>
                                        <input type="password" class="form-control" name="current_password" placeholder="Nhập mật khẩu hiện tại" required>
                                    </div><div class="form-group">
                                        <label>Tạo mật khẩu mới</label>
                                        <input type="password" class="form-control" name="new_password" placeholder="Tạo mật khẩu mới" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Xác nhận mật khẩu</label>
                                        <input type="password" class="form-control" name="confirm_password" placeholder="Xác nhận mật khẩu mới" required>
                                    </div>

                                    <input class="btn btn-primary " type="submit" value="Thay đổi">
                                </form>
                            </div>
                        </div>
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>

{% endblock %}
