<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-4">
                <h4 class="text-center">
                    Về chúng tôi
                </h4>
                <p>
                    RunningShoes Là nơi chuyên buôn bán tất cả các sản phẩm giày dép chất lượng. Chúng tôi luôn đặt
                    tiêu chí
                    về chất lượng và uy tín lên hàng đầu
                </p>
            </div>
            <div class="col-md-4 text-md-center">
                <h4 class="text-center"> Liên hệ</h4>
                <div class="text-left">
                    <p><strong>Email:</strong> <span class="px-2">runningshoes@gmail.com</span></p>
                    <p><strong>Số điện thoại:</strong><span class="px-2">+84 99-332-9375</span></p>
                    <p><strong>Địa chỉ: </strong><span class="px-2">Lê Văn Việt, Quận 9</span></p>
                </div>
            </div>
            <div class="col-md-4 text-md-center">
                <h4 class="text-center">Chấp nhận thanh toán</h4>
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div><!-- //container -->
<!--<df-messenger-->
<!--  intent="WELCOME"-->
<!--  chat-title="RunningShoes"-->
<!--  agent-id="21e318b6-1dda-4d30-a645-ee7d2d6f4454"-->
<!--  language-code="vi"-->
<!--&gt;</df-messenger>-->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<!--<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>-->

<script>
    $(document).ready(function () {
        $('.thumb a').click(function (e) {
            e.preventDefault();
            $('.mainImage img').attr("src", $(this).attr("href"));
        })
    })
</script>

</body>
</html>