<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-4">
                <h4 class="text-center">
                    Về chúng tôi
                </h4>
                <p>
                    RunningShoes Là nơi chuyên buôn bán tất cả các sản phẩm giày dép chất lượng. Chúng tôi luôn đặt
                    tiêu chí
                    về chất lượng và uy tín lên hàng đầu
                </p>
            </div>
            <div class="col-md-4 text-md-center">
                <h4 class="text-center"> Liên hệ</h4>
                <div class="text-left">
                    <p><strong>Email:</strong> <span class="px-2">runningshoes@gmail.com</span></p>
                    <p><strong>Số điện thoại:</strong><span class="px-2">+84 99-332-9375</span></p>
                    <p><strong>Địa chỉ: </strong><span class="px-2">Lê Văn Việt, Quận 9</span></p>
                </div>
            </div>
            <div class="col-md-4 text-md-center">
                <h4 class="text-center">Chấp nhận thanh toán</h4>
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div><!-- //container -->

</footer>
<!-- ========================= FOOTER END // ========================= -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60bd9113dd60a20abbe4e905/1f7i7tdf1';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
<script>
    $(document).ready(function () {
        $('.thumb a').click(function (e) {
            e.preventDefault();
            $('.mainImage img').attr("src", $(this).attr("href"));
        })
    })
</script>

</body>
</html>